{# templates/person/showone.html.twig #}


{% import 'macros.twig' as m %}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
   {{ parent() }}
   <link href="{{ asset('/css/person/editone.css') }}" rel="stylesheet" />
{% endblock %}
{% block js %}
 {{ parent() }}
 <script>
  
     function clickevent(eid)
     {
        window.location.href = '/admin/person/addevent/{{person.personid}}/'+eid;
     }
     function clickimage(iid)
     {
        window.location.href = '/admin/person/addimage/{{person.personid}}/'+iid;
     }
     function clicklocation(lid)
     {
        window.location.href = '/admin/person/addlocation/{{person.personid}}/'+lid;
     }
     function clickcontent(cid)
     {
        window.location.href = '/admin/person/addcontent/{{person.personid}}/'+cid;
     }
     
   </script>
{%endblock%}



{% block middle %}
<div id="editperson">
    <div class="newperson" >
        <div class="editbutton" ><a href = "/admin/person/detail/0" >{%trans%}new.person{% endtrans %}</a></div>
    </div>
    <div class="person" >
        {% if message %}
           <h1> {{message}}</h1>
        {% endif %}
        
        {% if person is defined %}
        {% if person %}
          <div class="heading" >
            <div class="label">  {{ 'person.a.editer' | trans }} : </div>
            <div class="title">   {{ person.fullname}} </div>
            <div class="editbutton button1" ><a href="/admin/person/addbookmark/{{person.personid}}"> {{"bookmark.person" | trans }} </a></div>
            <div class="editbutton"><a href = "/admin/person/detail/{{person.personid}}" > {%trans%}edit.person{% endtrans %}</a></div>

            <div class="returnbutton"> <a href = "{{returnlink}}" >{% trans %} retour {% endtrans%} </a></div>
          </div>
        {% endif %}
            
        
           <div class="imagegroup" >
           <div class="label" > {% trans %} images {% endtrans %} </div>
             <div class="images tooltip">
               <span class="tooltiptext">{{ 'to.add.images.use.bookmarks' | trans }}</span>
                {% for image in images %}
                <div class="image">
                    <div class="imageimage" ><a href="{{image.link}}" ><img src="{{image.fullpath}}" /></a></div>
                    <div class="imagelabel" >{{image.title}}</div>
                    <div class="imagedelete deletebutton" ><a href="/admin/person/removeimage/{{person.personid}}/{{image.imageid}}">{%trans%}delete{%endtrans%}</a></div>
                </div>
                {% endfor %}
             </div>
           </div>
        
            
            
        <div class="refgroup" >
        <div class="subheading" >
           <div class="label"> {{'liens'|trans}}</div>
           <div class="editbutton" >
               <a  href="/admin/linkref/editperson/{{person.personid}}">{%trans%}ref.edit{%endtrans%}</a>
            </div>
         </div>
         <div class="reflist">
         {% for ref in refs %}
               <div class="refref" >{{ref.label}}</div>
           {% endfor %}
         </div>
       </div>
            
        {% if text  %}
           <div class="textpanel" >
            <div class="label" > {% trans %} texts {% endtrans %} </div>
                <div class="edit editbutton button1">
                   <a href = "/admin/text/person/{{person.personid}}"   > {%trans%}edit.text{% endtrans %}</a>
                </div>
          
            </div>
        {%else%}
            <div  class="notext row" >
                <div class="redlabel" > {% trans %} no.text {% endtrans %} </div>
                <div class="button1" ><a href = "/admin/text/person/{{person.personid}}" class="editbutton"  > {%trans%}add.text{% endtrans %}</a></div>
            </div>
        {% endif %}
            
            
         
        {% if participants %}
          <div class="participants" >
          <div class="heading" > 
             <div class= 'label'>
                 {%trans%}participated.in.events{%endtrans%}
              </div>
              <div class="tooltip">?  <span class="tooltiptext">{{ 'to.add.participation.use.bookmarks' | trans }}</span>
              </div>
              </div>
                <div class="participantlist" >
                {% for participant in participants %}
                    <div class="participant selectable" >
                     <div > {{ participant.label}}</div>
                      <div class="editbutton button1" ><a href="{{participant.link}}">{%trans%}edit{%endtrans%}</a>
                    </div>
                    {% if(not participant.incidents )%}    
                    <div class="deletebutton" ><a href="/admin/person/delete/{{person.personid}}/{{participant.id}}">{%trans%}delete{%endtrans%}</a>
                    </div>
                    {% endif%}
                    </div>
                    {% for incident in participant.incidents %}
                       <div class="incident" >{{ incident.label}}</div>
                    {% endfor %}
                {% endfor %}
                </div>
          </div>
        {% else %}
            <div  class="noparticipants" > 
                <a href = "/admin/person/addtoparticipants/{{person.personid}}" class="editbutton"  > {%trans%}add.participation{%endtrans%}</a>
            </div>
        {% endif %}
        {% endif %}
    </div>
</div>
        
{% endblock %}


{% block right %}
   {{ render(controller('AppBundle\\Controller\\BookmarkController::setfield'))}}
{% endblock%}
