{# templates/registration/register.html.twig #}


{% import 'macros.twig' as m %}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('css/person_css/showone.css') }}" rel="stylesheet" />
{% endblock %}



{% block middle %}
<div id="newperson" class="adminform" >
 <div class="formheading" > {%trans%}create.newperson{% endtrans%}</div>
{{ form_start(form) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.forename) }}
    {{ form_row(form.alias) }}

    <button type="submit">Register</button>
{{ form_end(form) }}

 <div class="returnbutton"> <a href = {{returnlink}} >{% trans %} retour {% endtrans%} </a> </div>
</div>
{% endblock %}
