{# templates/url/edit.html.twig #}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('url/edit.css') }}" rel="stylesheet" />
{% endblock %}
{% block js %}
 {{ parent() }}
 <script>
  
     function clickevent(eid)
     {
       
     }
     function clickimage(iid)
     {
       
     }
     
   </script>
{%endblock%}


{% block middle %}
  <div id="urlsedit" >
   {% if message %}
     <h1> {{message}}</h1>
   {% endif %}
   <div class="heading">
   {% if url %}
     <div class="label">
      {{'a.link.from' | trans}}
     </div>
  
      <div class="returnbutton"> <a href = {{returnlink}} >{{ 'retour' | trans }} </a> </div>
     
  {% endif %}
  </div>

<div  class="adminform" >
{{ form_start(form) }}
    {{ form_row(form.id) }}
    {{ form_row(form.url) }}
    {{ form_row(form.label) }}
    {{ form_row(form.tags) }}
    <button type="submit">Register!</button>
{{ form_end(form) }}
</div>

</div>
{% endblock %}


{% block right %}

   {{ render(controller('AppBundle\\Controller\\BookmarkController::setfield'))}}

{% endblock%}
