{# templates/url/showall.html.twig #}

{% extends 'user.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('css/url/showall.css') }}" rel="stylesheet" />
{% endblock %}

{% block middle %}
  <div id="fusers">
   {% if message %}
     <h1> {{message}}</h1>
   {% endif %}

   {% if fusers %}
     <h1>{{'urlinks'| trans}} </h1> 
     <div class="fuserlist">
   
         {% for furl in fusers %}
           <div class="heading">
            <div>{{furl.label}} </div>
             <div class="retunbutton button1" > <a class="editbutton" href="/{{lang}}/url/visit/{{furl.id}}" >{{"link.visit" | trans }} </a> </div>
             {% if is_granted('ROLE_ADMIN') %}  
             <div class="editbutton " > <a class="editbutton" href="/admin/url/edit/{{furl.id}}" >{{"edit.link" | trans }} </a> </div>
            <div class="deletebutton" > <a class="deletebutton" href="/admin/url/delete/{{furl.id}}" >{{"delete.user" | trans }} </a> </div>
            {% endif %}
                 </div>
         {% endfor %}

     </div>
  {% endif %}
  </div>
{% endblock %}


