{# templates/admin.html.twig #}

{# a editer pour le presentation du administateur au site  #}

<html>

<head> 
    <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{{asset('favicon.ico')}}" />
        <link rel="shortcut" type="image/x-icon" href="{{asset('favicon.ico')}}" />
        
        {% block title %}
        <title>{{ 'bienvenue.site' | trans }}</title>
        <link rel="prefetch" href="{{ asset('common/sky11ss.jpg') }}">
            {% endblock %}
            
            {% block stylesheets %}
            <link href="{{ asset('css/f_main.css') }}" rel="stylesheet" />
            {% endblock %}
            
            {% block js %}
            <script src="{{asset('js/main.js')}}"></script>
            {% endblock %}
            
        </head>
        <body  >
        
        <div id="page" >
            
            {% block myheader %}
              {% include 'f_header.html.twig' %}
            {% endblock %}
            
            
            {% block mypage %}
            <div class='mypage'>    
                <div class='mypageinner'> 
                    {% include 'admin_sides.html.twig' %}
                    
                    {% block middle %}
                     <div id="middle" >
                        <div><p> middle</p></div>
                     </div>
                    {% endblock %}
                    
                </div>
            </div>
           {% endblock %}
            
            
           {% block myfooter %}
              <div id="footer">
                {% include 'f_footer.html.twig' %}
              </div>
           {% endblock %}  
    
        </div>
        {% block quill %}
        {% endblock %}
    </body>      
</html>
