
<html><head><meta charset="UTF-8">
<link rel="icon" type="image/x-icon" href="{{asset('favicon.ico')}}" />
<link rel="shortcut" type="image/x-icon" href="{{asset('favicon.ico')}}" />
        {% block title %}<title>{{ 'bienvenue.site' | trans }}</title>{% endblock %}
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/header/header.css') }}" rel="stylesheet" />
        {% endblock %}
        {% block js %}
           <script src="{{asset('js/main.js')}}"></script>
        {% endblock %}
       
      
    </head>
    <body>
        <div id="page" >
          <div class='header' id='header' >
          {% block myheader %}
            <table  >
              <tr>
               <td class="logo1" rowspan="2">
                 <img src="{{ asset('common/lorraineflag.gif') }}"  width="100" border="0" />
               </td>
               <td class="centertext" >
                  <p class="headertext1"> Parachutistes S.A.S de la France Libre 1940 - 1945</p>
                  <p class="headertext2"> Special Air Service 1st SAS - 3rd SAS - 4th SAS </p>
                  <p class="headertext3"> Chasseurs Parachutistes 1ère CCP - 2ème RCP - 3ème RCP </p>
                </td>          
                <td class="logo2" rowspan="2">
                   <img src="{{ asset('common/wings_tr.png') }}" alt="" width="150" border="0" />
                </td>
              </tr>
              <tr>
                <td class="bottomtext">
                  <p class="headertext4"> -La liberté tombée du ciel-</p>
                </td>
              </tr>  
            </table>
            <div class="messagebar" >
              {% set locale =  app.request.getLocale() %}
            {% if 'en' in locale | lower %}
               <div class="languagelink"><a href="/fr/person/all"  ><img src="{{asset('common/fr.gif')}}"/></a></div>
            {% else %}
               <div class="languagelink"><a href ="/en/person/all" ><img src="{{asset('common/en.gif')}}" /></a></div>
            {% endif %}
               <div class="filler">
               {% if app.user  is null %}
              {{ 'bienvenue.visiteur' | trans }}
               {% else %}
             
                    {{ 'bienvenue' | trans }} {{ app.user.username }}
                    ({% if is_granted('ROLE_ADMIN') %} Administrator{% endif %}
                    {% if is_granted('ROLE_USER') %} User{% endif %} )
               {% endif %}
               [{{locale}}] Syfflsas3
               </div>
                {% if app.user  is null%}
                <div class="loginlink messbutton">
                     <a href="/{{locale}}/login" >{{ "log.in" | trans}}</a>
                </div>
                {% else %}
                  <div class="logoutlink messbutton">
                     <a href="/logout"  >{{ "log.out" | trans}}</a>
                </div>
                
                
                
                {% endif %}
                 <div class="contactlink messbutton">
                     <a href="/{{locale}}/mailto" >{{ "mail.us" | trans}}</a>
                </div>
            </div>
          {% endblock %}
          </div>
        
          <div class='mypage'>    
           <div class='mypageinner'>   
          {% block mypage %}

         {# <div id='container3'>
         <div id='container2'>
         <div id='container1'>#}
   
           <div id="left" >
          {% block main_menu %}
             {% include 'main_menu.html.twig' %}
          {% endblock %}
          {{ render(controller('AppBundle\\Controller\\PersonController::showsidebar')) }} 
          {% block left %}
            {% block sidebar %}
               <div><p> </p></div>
            {% endblock %}
         {% endblock %}
         </div>
         <div id="middle" >
          {% block middle %}
            <div><p> </p></div>
          {% endblock %}
         </div>
         <div id="right" >
         {% block right %}
            <div> <p> </p></div>
           {{ render(controller('AppBundle\\Controller\\RandomimageController::randomimage')) }}

          {% endblock %}
          </div>
        </div>
        </div>
  {#  </div>
    </div> #}
  {% endblock %}

 
     <div id="footer">
      {% block myfooter %}
      <table>
         <tr>
           <td class='left' >left footer</td>
           <td class='center' >
             <h1 > FFLSAS &copy;</h1>
           </td>
           <td  class='right'> right footer</td>
         </tr>
      </table>
      {% endblock %}  
     </div>
   </div>
  </body>      
 
</html>
