

{% macro tree(child, incidents) %}
    {% import _self as m %}
     <a href = "{{ child.getLink() }} " > {{ child.label("FR") }}</a>
      {% if incidents %}
      {% for incident in incidents %}
      {% if incident.eventid == child.eventid %}
      <div class='incident' >    <a href = "{{ incident['link'] }} " > {{incident['label'] }}</a></div>
      {% endif %}
      {% endfor %}
     {% endif %}
        {% if child.children %}
        <ul>
            {% for i in child.children %}
                <li>
                   {{ m.tree(i, incidents) }} 
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
