{% extends 'base.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('css/form.css') }}" rel="stylesheet" />
{% endblock %}

{% block middle %}

<div id="contactform">
  <div class=heading>{{'message.to.user' | trans}}</div>
  <div class="form">
       {{form_start(form)}}
       {{ form_row(form.name)   }}
       {{ form_row(form.email)   }}
       {{ form_row(form.subject)   }}
       {{ form_row(form.message)   }}
    <button type="submit">Register!</button>
       {{form_end(form)}}
   </div>
</div>

{% endblock %}
