{# templates/message/showall.html.twig #}




{% extends 'admin.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/message/showall.css') }}" rel="stylesheet" />
{% endblock %}


{% block middle %}

 <div id="contacts"  >
    <div class="heading">
        <div class="label" > {%trans%}see.admin.messages{% endtrans%}</div>
    </div>
    
    
    <div class="contactlist" >
        <div class="subheading" >
            <div class="label" > {{'contact.list' | trans }}</div>
        </div>
        
        {% for contact in messages %}
        <div class= "contact  selectable">
        {% if contact.fromname == 'FFLSAS-admin' %}
           <div class="name" > {{'from.admin.to'}} {{contact.toname}}</div>
        {% else %}
           <div class="name" > {{'from'}} {{contact.fromname}} {{'to.admin'}}</div>
        {% endif %}
            <div class= "date" > {{contact.date_sent | date("Y-m-d") }}</div>
            <div class="subject" > {{contact.subject}}</div>
            
            <div class = "message" > {{ contact.body|length > 20 ? contact.body|slice(0, 20) ~ '...' : contact.body  }}</div>
            <div class = "editbutton button1">
                <a class='editbutton' href="/admin/message/{{contact.id}}">{{'view.contact' |trans}}</a>
            </div>
            <div class = "deletebutton">
                <a class='deletebutton' href="/admin/message/delete/{{contact.id}}">{{'delete.contact' |trans}}</a>
            </div>
        </div>
        {% endfor %}
 </div>       
  </div>
{% endblock %}
    
