{# templates/message/usermessage-resp.html.twig #}

{% extends 'user.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('/css/message/usermessage-resp.css') }}" rel="stylesheet" />
{% endblock %}

{% block middle %}
<div id="middle" >
<div id= "usermessage-resp" >
<div class="heading"> 
 <div class= "label" >{{'message.forwarded.by.admin'|trans }}</div>
 <div class="returnbutton"> <a href = {{returnlink}} >{{ ' annuler ' | trans }} </a> </div>
</div>


<div class="mailmessage">
 

<table  >
<tr><td >{{'message.enyoyer.a'|trans }} </td><td> {{message.toname}}</td></tr>
<tr><td >{{'mail.date.sent'| trans}} </td><td> {{ message.date_sent  | date("Y-m-d h:m:s")}}</td></tr>
<tr><td >{{'mail.sentby'| trans}} </td><td> {{ message.fromname }}</td></tr>
<tr><td> {{'mail.from' |trans }}</td><td>{{message.fromemail}} </td></tr>
<tr><td>{{'mail.subject'| trans}} </td><td> {{ message.subject }}</td></tr>
<tr><td column-span:all>{{'mail.body'| trans}}  </td><td></td><tr>
<tr><td column-span:all>{{ message.body | raw }}</td></tr>
</table>
</div>
</div>
</div>
{% endblock %}
