{# templates/message/usermessage-resp.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('/css/message/usermessage-resp.css') }}" rel="stylesheet" />
{% endblock %}

{% block middle %}
<div id= "usermessage-resp" >
<div class="heading"> 
 <div class= "label" >{{'message.forwarded.by.admin'|trans }}</div>
 <div class="returnbutton"> <a href = {{returnlink}} >{% trans %} annuler {% endtrans%} </a> </div>
</div>


<div class= "messagebody">
    {{ message.message| raw }}
</div>

</div>
{% endblock %}
