{# views/user/usersearch.html.twig #}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('css/searchall.css') }}" rel="stylesheet" />
{% endblock %}
{% block js %}
 {{ parent() }}
 <script>
  
     function clickcontent(cid)
     {
        window.location.href = '/admin/message/bulk/'+cid;
     }
   
     
   </script>
{% endblock %}
{% block middle %}
<div id="middle" >
  <div id="user" class="search" >
   {% if message %}
     <h1> {{message}}</h1>
   {% endif %}
    <div class="heading">
      <div class="label"> {{ heading | trans }}</div>
      <div class="editbutton button1"><a class="editbutton" href ="/admin/user/new">{{'new.user' | trans}}</a></div>
   </div>
  <form  action="/admin/user/search">
  <div class="heading">
   <div class="label"> {{ 'entrez.chercher' | trans }}</div>
   <input type="text" name="searchfield">
   <input type="submit" value="{{ 'chercher' | trans }}" >
    
   </div>
   </form>
   {% if users is defined %}
     <div class="subheading">
     <div class="label">{{subheading | trans}}</div> 
     <div class="title">{{searchfield}}</div> 
     
     <div class="editbutton button1 tooltip"> <div class="editbutton">{{'bulk.message' | trans}} </div> <span class="tooltiptext">{{ 'to.send.bulk.email.use.bookmarks' | trans }}</span>
              </div>
     <div class="editbutton "><a class="editbutton" href ="/admin/user/bulkrereg">{{'rereg.group' | trans}}</a></div>
     </div>
     <div class="searchlist" >
       <div >
         {% for user in users  %}
            <div class="user row" >
             <div><a href="{{user.link}}" >{{user.username}}({{user.email}})</a> </div>
             <div class="editbutton button1" ><a class="editbutton" href="/admin/user/{{user.userid}}">{{'edit.user' |trans}}</a></div>
            </div>
         {% endfor %}
      </div>
     </div>
  {% endif %}
  </div>
  </div>
{% endblock %}


{% block right %}
   {{ render(controller('AppBundle\\Controller\\BookmarkController::setfield'))}}
{% endblock%}
