{# views/user/show.html.twig #}


{% import 'macros.twig' as m %}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/user/show.css') }}" rel="stylesheet" />
{% endblock %}


{% block middle %}

<div id="fuser"  >
    
    <div class="heading">
        <div class="label" > {{'profil.person'|trans }}</div>
        <div class="title" > {{user.username}}</div>
        
        <div class="editbutton button1" ><a class='editbutton' href="/admin/user/edit/{{user.userid}}">{{'edit.user.detail'|trans}}</a></div>
        <div class="returnbutton"> <a href = {{returnlink}} >{{'.back'|trans }} </a> </div>
    </div>
    
    <div  class="userdata" >
        <div class="datarow">
            <div class="label" > {{'user.email'|trans }}</div>
            <div class="data" > {{user.email}}</div>
        </div>
        <div class="datarow">
            <div class="label" > {{'user.roles'|trans }}</div>
            <div class="data" > {{user.rolestr}}</div>
        </div>
        <div class="datarow">
            <div class="label" > {{'user.lastlogin'|trans }}</div>
            <div class="data" > {{user.lastlogin | date("Y-m-d") }}</div>
        </div>
    </div>
    
    
    
    
    <div class="messagelist" >
        <div class="subheading" >
            <div class="label" > {{'message.list'|trans }}</div>
            <div class="editbutton button1" ><a class='editbutton' href="/admin/message/send/{{user.userid}}">{{'send.message'|trans}}</a></div>
        </div>
        
        {% for message in messages %}
        <div class= "message">
          <div class="subject" > {{message.fromname}}</div>
            <div class="subject" > {{message.toname}}</div>
            <div class="subject" > {{message.subject}}</div>
            <div class= "date" > {{message.date_sent | date("Y-m-d H:i:s") }}</div>
            <div class = "message" > {{ message.body|length > 20 ? message.body|slice(0, 20) ~ '...' : message.body  }}</div>
            <div class = "editbutton button1">
                <a class='editbutton' href="/admin/user/{{user.userid}}/message/view/{{message.id}}">{{'view.message'|trans}}</a>
            </div>
            <div class = "deletebutton">
                <a class='deletebutton' href="/admin/user/{{user.userid}}/message/delete/{{message.id}}">{{'delete.message'|trans}}</a>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
    {% endblock %}
    
