{# templates/linkrefs/editgroup.html.twig #}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('linkrefs_css/editone.css') }}" rel="stylesheet" />
{% endblock %}
{% block js %}
 {{ parent() }}
 <script>
     function clicklocation(lid)
     {
      window.location.href = '/admin/event/setlocation/{{objid}}/'+lid;
     }
     
     function clickperson(pid)
     {
        window.location.href = '/admin/image/addref/person/'+pid+'/{{objid}}';
     }
 </script>
{% endblock %}




{% block middle %}
 <div id="linkref">
   {% if message %}
     <h1> {{message}}</h1>
   {% else %}
     <div class ="heading" >{{heading}}  
           <span class="returnbutton"> <a href = {{returnlink}} >{% trans %} retour {% endtrans%} </a> </span>
           <a class="editicon" href= "/admin/linkref/edit/{{objecttype}}/{{objid}}/{{ref.linkid}} " > {{'edit' | trans}}</a>
    </div>
            <div class="ref">
              <div class= "name" >{{ ref.label}}</div>
              <div class= "path" >{{ref.path}}</div>
            </div>
         
          
            
    <div class="texts" >
   {%  set frtitle = null %}
   {%  set entitle = null %}
   {% if texts is defined %}
         {% for text in texts %}
         {% if (text.language == "FR" or text.language == 'fr') and text.attribute=="title" %} 
           {% set frtitle = true %} 
           <div class="textref" >
              <div   class="textref " > {{ ref.label}} : {{text.attribute}}: {{text.language | upper}} :
              <a class= "editbutton" href="/admin/edittext{{text.link}}" >{% trans %} edit.this{% endtrans%} </a> 
              </div>
              <div class="textpanel" > {{text.comment | raw }} </div>
           </div>
         {%endif%}
         {% if text.language == 'EN' or text.language == 'en' %} 
           {% set entitle = true %} 
           <div class="textref" >
             <div   class="textref " > {{ ref.label}} : {{text.attribute}}: {{text.language | upper}} :
             <a class= "editbutton" href="/admin/texts{{text.link}}" >{% trans %} edit.this{% endtrans%} </a> 
             </div>
             <div class="textpanel" > {{text.comment | raw }} </div>
           </div>
         {%endif%}
         {% endfor %}
         </div>
  {% endif %}
  {% if not frtitle  %}
  <div   class="textref" > {{ ref.label}}: FR : title :
           <a class= "editbutton" href="/admin/text/{{objecttype}}/{{objid}}/title/FR" >{% trans %} create.this{% endtrans%} </a> 
           </div>
  {% endif %}
  {% if not entitle  %}
  <div   class="textref" > {{ ref.label}}: EN : title :
           <a class= "editbutton" href="/admin/text/{{objecttype}}/{{objid}}/title/EN"  >{% trans %} create.this{% endtrans%} </a> 
           </div>
  {% endif %}
 
             
             
             
     </div>

  {% endif %}
  
  
{% endblock %}


{% block right %}
   {{ render(controller('AppBundle\\Controller\\BookmarksController::setfield'))}}
{% endblock%}
