{# templates/linkrefs/editgroup.html.twig #}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/linkref/editgroup.css') }}" rel="stylesheet" />
{% endblock %}
{% block js %}
 {{ parent() }}
 <script>
     function clicklocation(lid)
     {
      window.location.href = '/admin/event/setlocation/{{objid}}/'+lid;
     }
     
     function clickperson(pid)
     {
        window.location.href = '/admin/image/addref/person/'+pid+'/{{objid}}';
     }
 </script>
{% endblock %}




{% block middle %}
 <div id="linkref" class="editgroup" >
   {% if message %}
     <h1> {{message}} </h1>
   {% else %}
    <div class="heading" >
      <div class="label" >{{"edit.links.for" |trans}}</div> 
      <div class="title" >{{label}}</div> 
      <div class="button1 editbutton">  <a class="editbutton" href= "/admin/linkref/edit/{{objecttype}}/{{objid}}/0 " > {{ 'add.new.linkref' | trans }}</a></div>
     </div>
   {% if refs %}
   <div class="reflist">
         {% for ref in refs %}
            <div ><a href="{{ref.link}}" >{{ ref.label}}</a>
            <a class="editicon" href= "/admin/linkref/{{objecttype}}/{{objid}}/{{ref['linkid']}} " > {{'edit' | trans}}</a>
              <a class="editicon" href= "/admin/linkref/delete/{{objecttype}}/{{objid}}/{{ref['linkid']}} " > {{'delete' | trans}}</a>
            </div>
         {% endfor %}
     </div>
     {%endif%}
  {% endif %}
  </div>
{% endblock %}


{% block right %}
   {{ render(controller('AppBundle\\Controller\\BookmarksController::setfield'))}}
{% endblock%}
