{# templates/content/editsubject.html.twig #}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('css/content_css/editsubject.css') }}" rel="stylesheet" />
{% endblock %}
 {% block js %}
 {{ parent() }}
 <script>
     function clicklocation(lid)
     {
      
     }
     
     function clickperson(pid)
     {
        
     }
 </script>
{% endblock %}


{% block middle %}
  
  <div id="editcontent" >
   {% if message %}
     <h1> {{message}}</h1>
   {% endif %}

   {% if contents %}
   <div class="heading">
     <div class="label" >{{ 'content.for.subject' | trans }} </div>
     <div class="title" > {{subjectid}}</div>
     <div class="returnbutton"> <a href = {{returnlink}} >{% trans %} annuler {% endtrans%} </a> </div>
   </div>
   {% for content in contents %}
   <div class="contents">
    <div class="heading" >
      <div class="label">{{content.title}}</div> 
      <div class="title">{{content.language}}</div> 
      <div class="editbutton" ><a class='editbutton' href="/admin/content/edit/{{content.contentid}}">{{'edit.content' |trans}}</a></div>
  
      <div class="deletebutton" ><a class='deletebutton' href="/admin/content/delete/{{content.contentid}}">{{'delete.content' |trans}}</a></div>      
    </div>
     
    <div class='maintext'>
        {{ content.text | raw}} 
    </div>

    
     </div>
     
     {% endfor%}
  {% endif %}
   <div class="refs">
       <div  class="linksheading" >{%trans%}liens.a{% endtrans %}</div>
       {% for obtype , oref in refs %}
        <div class="linkgroup" >{{obtype  | trans}}</div>
         {% for obid , ref in oref %}       
        <div class="ref" > <a href="{{ ref.link }}">{{ref.label}}</a> </div>
        {% endfor %}
           {% endfor %}
    </div>
    </div>
{% endblock %}

{% block right %}

   {{ render(controller('AppBundle\\Controller\\BookmarksController::setfield'))}}

{% endblock%}
