{# templates/text/update.html.twig #}


{% import 'macros.twig' as m %}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('css/content/edit.css') }}" rel="stylesheet" />
      <link href="{{ asset('css/form.css') }}" rel="stylesheet" />
{% endblock %}

{% block js %}
 {{ parent() }}
 <script>
    
    
     
   </script>
{% endblock %}

{% block middle %}
<div id="contentedit" >

<div class="heading">
 <div class="label" >{{ 'edit.contents' | trans }} </div>
  <div class="title" >{{ label}} : {{contentid}} </div>
  <div class="returnbutton button1"> <a href = {{returnlink}} >{% trans %} annuler {% endtrans%} </a> </div>
</div> 
<div class="form">
{{ form_start(form) }}

 {{  form_row(form.subjectid) }}

  {{ form_row(form.language) }}
    {{ form_row(form.title) }}
    <div id="maintext">
{{ form_row(form.text) }}
    </div>
    <button type="submit">{% trans %} enregistrer {% endtrans%} </button>
{{ form_end(form) }}
</div>

</div>



{% endblock %}


{% block right %}
   {{ render(controller('AppBundle\\Controller\\BookmarkController::setfield'))}}
{% endblock%}
