{# templates/image/showone.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('css/image_css/showone.css') }}" rel="stylesheet" />
{% endblock %}



{% block middle %}
  
  <div id="image" >
   {% if message %}
     <h1> {{message}}</h1>
   {% endif %}

   {% if image %}
     <div class="heading">
     <div class="title">{{title}}</div> 
    </div>
     <div class="content">
       <div class="image"> 
         <img src="{{ image.fullpath }}" />
  
      <div class="text">
        {{comment}}
      </div>
      </div>
     <div class="refs">
     {% if refs %}
       
       {% for obtype , oref in refs %}
       {% set label = obtype ~ ".links" %}
        <div  class="linkgroup" >{{  label | trans }}</div>
         {% for obid , ref in oref %}       
        <div class="ref" > <a href="{{ ref.link }}">{{ref.label}}</a> </div>
        {% endfor %}
           {% endfor %}
     {% endif %}
    </div>
     </div>
  {% endif %}
  </div>
{% endblock %}
