{# templates/message/contact.html.twig #}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('text/edit.css') }}" rel="stylesheet" />
{% endblock %}

{% block myheader %} {{ parent() }}{% endblock %}


{% block middle %}
  <div id="admintexts" >
   {% if message %}
     <h1> {{message}}</h1>
   {% endif %}

     <div class ="heading" >
        <div class="label" > {{'edit.texts' |trans}}      </div>
        <div class="label" > {{'for' |trans}}      </div>
        <div class="label" > {{objecttype |trans}} :     </div>
        <div class="title" > {{ label}}  </div>
        <div class="returnbutton"> <a href = {{returnlink}} >{{ ' retour ' | trans }} </a> </div></div>
     </div>
     <div id="textedit" >
    
         {% for attribute in attributes %}
         {% for lang in ['FR','EN'] %}
              {% if texts[attribute][lang] is defined   %} 
               <div   class="textref" >{{attribute}} : {{lang}}
                <a class= "editbutton" href="/admin/text/{{texts[attribute][lang]['id']}}" >{{ ' edit.this' | trans }} </a> 
               </div>
               <div class="textpanel" > {{texts[attribute][lang]['comment']| raw }} </div>
             {% else %}
                <div   class="textref" >{{ attribute}} : {{lang}}
                 <a class= "editbutton" href="/admin/text/new/{{objecttype}}/{{objid}}/{{attribute}}/{{lang}}" >{{ ' create.this' | trans }} </a> 
               </div>
             {% endif %} 
          {% endfor %}
          {% endfor %}
    </div>
    
   
  </div>
{% endblock %}
