{# templates/text/update.html.twig #}


{% import 'macros.twig' as m %}

{% extends 'admin.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('css/content/edit.css') }}" rel="stylesheet" />
{% endblock %}



{% block middle %}
<div id="textedit" >

 <div class="heading" >
   <div class="label" >{{"edit" |trans}}{{attribute}}:{{language}}{{"for"|trans}} {{ objecttype | trans }} :{{ label}} </div>
   <div class="returnbutton"> <a href = {{returnlink}} >{% trans %} annuler {% endtrans%} </a> </div>
 </div>
{{ form_start(form) }}
   
{{ form_row(form.comment,{ 'attr': {'cols': '50'} }) }}
    <button type="submit">{% trans %} enregistrer {% endtrans%} </button>
{{ form_end(form) }}


</div>
{% endblock %}
