




{% macro emailbody1( name,datesent, fromemail,sentto, subject, body ) %}

<div id="mailmessage">
<h3 class="label">{{'message.enyoyer'|trans }} {{sentto}}</h3>
<table  >
<tr><td >{{'mail.date.sent'| trans}} </td><td> {{ datesent }}</td></tr>
<tr><td >{{'mail.sentby'| trans}} </td><td> {{ name }}</td></tr>
<tr><td> {{ 'mail.from' |trans }}</td><td>{{fromemail}} </td></tr>
<tr><td>{{'mail.subject'| trans}} </td><td> {{ subject }}</td></tr>
<tr><td>{{'mail.body'| trans}}  </td><td>{{ body }}</td></tr>
</table>
</div>
{% endmacro %}


{% macro emailbody2( name,datesent, fromemail,sentto, subject, body ) %}

<div id="mailmessage">
<h3 class="label">{{'message.forwarded.by.admin'|trans }} </h3>
<table  >
<tr><td  style="font-weight: bold;" >{{'mail.date.sent'| trans}}</td><td> {{ datesent }}</td></tr>
<tr><td  style="font-weight: bold;">{{'mail.sentby'| trans}} </td><td> {{ name }} ({{fromemail}}) </td></tr>
<tr><td  style="font-weight: bold;">{{'mail.subject'| trans}} </td><td> {{ subject }}</td></tr>
</table>
</div>
<div  style="margin-top:2em;" >{{ body }}</div>
</div>
{% endmacro %}
