{# templates/registration/completesuccess.html.twig #}


{% import 'macros.twig' as m %}

{% extends 'user.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/person/showone.css') }}" rel="stylesheet" />
{% endblock %}



{% block middle %}
<div id="middle" >

<div id="completesuccess">
  <div class="label"> {{'sucessful.completion' | trans }}</div>
  <div class="title"> {{ username }}</div>
  <div class="title"> {{ email }}</div>
  </div>
</div>
{% endblock %}
