{# views/registration/done.html.twig #}


{% import 'macros.twig' as m %}

{% extends 'user.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/registration/regack.css') }}" rel="stylesheet" />
{% endblock %}



{% block middle %}
<div id="middle" >
<div id="userack" >
<div class="heading">
<div class="label" >{{heading|trans}}</div>
</div>
<div class="subheading">
<div class="label" >{{'username'|trans }}:</div>
<div class="title">{{username}}</div>
</div>
<div class="subheading">
<div class="label" >{{'email'|trans }}:</div>
<div class="title">{{email}}</div>
</div>
<div class="message">
{{ message | raw }}
</div>
</div>
</div>
{% endblock %}
