{# templates/registration/register.html.twig #}


{% import 'macros.twig' as m %}

{% extends 'base.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/person/showone.css') }}" rel="stylesheet" />
{% endblock %}



{% block middle %}
<div id="regack" >
<div class="label" >{{'welcome.to.our.site' | trans}}</div>
<div>{{'username' | trans }}:{{username}}</div>
<div>{{'email' | trans }}:{{email}}</div>
<div>{{'registration.message' | trans }}</div>
</div>

{% endblock %}
