{# templates/registration/register.html.twig #}


{% extends 'base.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/form.css') }}" rel="stylesheet" />
{% endblock %}
{% block js %}

<script src="https://www.google.com/recaptcha/api.js?hl={{lang}}&amp;render=onload" type="text/javascript"></script>
{% endblock %}

{% block middle %}
<div id="registrationform" >
<div class=heading>
<div class="label" >{{'register' | trans}}</div>
</div>
<div class="form">
  {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
     <div class="g-recaptcha" data-sitekey ="{{ recaptcha_key }}"></div>
              
   <button type="submit">{{'register' | trans}}!</button>
    {{ form_end(form) }}
</div>
</div>
{% endblock %}
