{# templates/registration/register.html.twig #}


{% extends 'base.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/form.css') }}" rel="stylesheet" />
{% endblock %}

{% block middle %}
<div id="registrationform" >
<div class=heading>
<div class="label" >{{'register' | trans}}</div>
</div>
<div class="form">
  {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
   <button type="submit">Register!</button>
    {{ form_end(form) }}
</div>
</div>
{% endblock %}
